body, html {
width: 100%; height: 100%;
margin: 0;
padding: 0;
  background-image: url(slike/passat.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container{
  position: absolute;
  width: 600px;
  height: 300px;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -150px;
  border-radius: 40px;
border: 7px solid white;
background-color: rgba(0, 0, 0, 0.6);
}

.container h1{margin: 0;
text-align: center;
color: white;
margin-top: 30px;
font-size: 30pt;

}
.container button{
  position: absolute;
  width: 400px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-right: -20px;
  font-size: 17pt;
  font-family: Georgia, serif;

}

.container button:hover{background-color: rgb(28, 94, 136);}

header{
width: 100%;
height: 70px;
background-color:rgba(92, 83, 81, 0.68);
  }

header input{
  height: 35px;
  margin-top: 13px;
  margin-left: 15px;
  font-size: 18px;
  float: left;
}
header h1 {
  padding: 0px;
  margin: 0px;
  float: right;
  margin-top: 13px;
  margin-right: 15px;
}

footer{
  width: 100%;
  height: 70px;
  background-color:rgba(92, 83, 81, 0.68);
position: fixed;
bottom: 0;


}



.dropdown {
  width: 350px;
  height: 400px;
  float: left;
}

.dropdown h1 {
  text-align: center;
}

.dropdown:hover li
{
display: block;
}

.dropdown li {
  height: 30px;
  width: 262px;
  list-style-type: none;
  text-align: center;
  background-color: rgba(92, 83, 81, 0.68);
  display: none;
}

#glavni {
  height: 500px;
  width: 100%;
}
.slike {
  list-style-type: none;
  float: left;
  width: 1000px;
}
#first {
  width: 100%;
  height: 600px;
}

.slike li {
  list-style-type: none;
  float: left;
  width: 400px;
  height: 250px;
  overflow: none;
  margin-left: 50px;
  margin-bottom: 50px;

}

.slike img {
  width: 400px;
  height: 250px;
}
